*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item+.menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all 0.5s;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike__link {
  margin-top: 80px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #131313;
  padding: 28px 60px 28px 81px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  transition: all 0.5s;
}

.bike__link:hover {
  background-color: #ff4040;
}

.bike-slider .slick-dots {
  right: 0;
  top: 52px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li+li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
}

.slick-dots button:hover {
  background-color: #ff4040;
}

.slick-active button {
  background-color: #ff4040;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: auto 0;
}

.info-list__inner {
  display: flex;
  margin-bottom: 150px;
}

.info-list__img {
  flex-basis: 570px;
  object-fit: cover;

}

.info-list__desc {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-list__item {
  max-width: 490px;
}

.info-list__title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
}

.info-list__text {
  margin: 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
  max-width: 450px;
}

.specification {
  margin-bottom: 150px;
}

.specification__inner {
  display: flex;
  justify-content: space-between;
}

.specification__table {
  max-width: 570px;
}

.specification__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 9px;
}

.specification__inner-title {
  padding: 2px 0 3px 0;
  margin: 31px 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  background-color: #131313;
}

.specification__wrapper {
  display: flex;
  margin-bottom: 5px;
}

.specification__specification {
  min-width: 285px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.specification__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.specification__img {
  margin-left: 60px;
  object-fit: none;
}

.photo-slider {
  margin-bottom: 50px;
}

.photo-slider__item {
  padding-left: 50px;
}

.photo-slider__items .slick-dots {
  left: 0;
  top: 0;
}

.order {
  margin-bottom: 100px;
}

.order__inner {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__text {
  max-width: 300px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.form__text-get-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6F;
  opacity: 0.5;
}

.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__text-get-color {
  color: #6F6F6F;
  opacity: 0.5;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label+.form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked+.form__bike {
  display: block;
}

.form__bike-price {
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF4040;
  border-radius: 50%;
  transform: translateX(-50%);
}

.form__bike-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #FF4040;
  border-radius: 50%;
  top: 12px;
}

.form__bike {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.form__radio-style {
  border-radius: 30px;
  width: 80px;
  height: 12px;
}

.form__radio-style--grey {
  background: #6F6F6F;

}

.form__radio-style--white {
  background: #FFFFFF;
  border: 1px solid #6F6F6F;
}

.form__radio-style--red {
  background: #FF4040;
}

.bike__link-btn {
  background-color: #131313;
  color: #fff;
  padding: 28px 60px 28px 81px;
  max-width: 420px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  transition: all 0.5s;
}

.bike__link-btn:hover {
  background-color: #FF4040;
}

.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration: underline;
}

.footer__social-link+.footer__social-link {
  margin-left: 28px;
}

.footer__contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #fff;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link+.footer__contacts-link {
  margin-top: 10px;
}

.footer__contacts-img {
  margin-right: 10px;
}

@media (max-width: 1110px) {
  .bike__inner{
    flex-wrap: wrap;
  }
  .bike__text{}
}

@media (max-width: 990px) {
  .menu{
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .header__inner{
    display: block;
    text-align: center;
  }
  .menu{
    margin-top: 50px;
  }

  .menu__list{
    justify-content: space-evenly;
  }

  .menu__item + .menu__item{
    padding-left: 0;
  }

  .menu__link{
    padding: 25px 20px;
  }
}

@media (max-width: 460px) {
  .menu__list{
    justify-content: space-between;
  }
  .menu__link{
    padding: 25px 4px;
  }
}

@media (max-width: 340px) {
  .menu{
    margin-top: 25px;
  }
  .menu__list{
    justify-content: space-between;
  }
  .menu__link{
    padding: 25px 4px;
    font-size: 12px;
  }
}